//- link(rel="stylesheet", href="/dist/css/chat.css")
//- #chat-wrapper
//-     h5.p-2.mt-2.text-center Online Friends
//-     hr
//-     .media
//-         ul.list-unstyled.w-100.bold.general-color
//-             li.chat-user.shadow
//-                 img.rounded-circle.m-2(src="http://emilcarlsson.se/assets/louislitt.png" width="36" height="36")
//-                 span.ml-2= currentUser.username
//-                 i.fa.fa-circle
//-             li.chat-user.shadow
//-                 img.rounded-circle.m-2(src="http://emilcarlsson.se/assets/harveyspecter.png" width="36" height="36")
//-                 span.ml-2= currentUser.username
//-                 i.fa.fa-circle
//-             li.chat-user.shadow
//-                 img.rounded-circle.m-2(src="http://emilcarlsson.se/assets/louislitt.png" width="36" height="36")
//-                 span.ml-2= currentUser.username
//-                 i.fa.fa-circle
//-             li.chat-user.shadow
//-                 img.rounded-circle.m-2(src="http://emilcarlsson.se/assets/harveyspecter.png" width="36" height="36")
//-                 span.ml-2= currentUser.username
//-                 i.fa.fa-circle
//- script.
//-     $('.chat-user').click(function() {
//-         $('body').append('<div>HELLO</div>')
//-     });