footer#footer
    .d-flex.mt-1
        a(href="/") Home
        a(href="/feedback") Feedback
        a(href="/contact") Contact

    .zed-flex-center.c-wrapper
        .github
            a.zed-flex-center(href="https://github.com/asaf-aviv" target="_blank")
                i.fab.fa-github
        .c Made with 
            i.fas.fa-heart.mx-1(style="color: #ff4040")
            |  by Asaf Aviv - &copy; 2018 Zed