footer#footer
    .row
        .col
        .col
        .col
            a(href="/about") About
            a(href="/contact") Contact
            //- .donate
                form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                    input(type="hidden" name="cmd" value="_donations")
                    input(type="hidden" name="business" value="6MEHLQK2DN7PY")
                    input(type="hidden" name="lc" value="GB")
                    input(type="hidden" name="item_name" value="zed")
                    input(type="hidden" name="item_number" value="zed")
                    input(type="hidden" name="no_note" value="0")
                    input(type="hidden" name="cn" value="Add special instructions to the seller:")
                    input(type="hidden" name="no_shipping" value="2")
                    input(type="hidden" name="currency_code" value="USD")
                    input(type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted")
                    input(type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!")
                    img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
    .social-media.zed-flex-center
        .facebook
            a.zed-flex-center(href="#" target="_blank")
                i.fab.fa-facebook-f
        .twitter
            a.zed-flex-center(href="#" target="_blank")
                i.fab.fa-twitter
        .instagram
            a.zed-flex-center(href="#" target="_blank")
                i.fab.fa-instagram
    .c &copy; 2018 Zed