nav#main-nav-bar
    #main-left-nav-bar
        ul
            li.nav-link: a(href="/") Home
            li.nav-link: a(href="/champions") Champions
            li.nav-link: a(href="/leaderboards?region=NA1") Leaderboards
            li.nav-link: a(href="/statistics") Statistics
            li.nav-link: a(href="/items") Items
    #nav-search
        form#navbar-search-form(method="GET", action="/summoner")
            select#region-select(name="region")
                option(value="NA1") NA
                option(value="EUW1") EUW
                option(value="EUN1") EUNE
                option(value="KR") KOREA
                option(value="JP1") JAPAN
                option(value="LA1") LAN
                option(value="BR1") BRAZIL
                option(value="LA2") LAS
                option(value="TR1") TURKEY
                option(value="OC1") OCE
                option(value="RU") RUSSIA
            input(type="text", name="userName", placeholder="Enter Username")
            i.fa.fa-search
    #nav-bar-util.d-flex.align-items-center
        a(href="#")
            i.fa.fa-lg.fa-bell-o
            span.badge.badge-danger 6
        a(href="#")
            i.fa.fa-lg.fa-envelope-o
        a(href="#")
            i.fa.fa-lg.fa-user-plus
    #nav-bar-login.d-flex.align-items-center
        a(href="/users") Find Legends
        if currentUser
            a(href="/profile")= currentUser.username
            //- img(style="width: 50px; height: 50px;", src=currentUser.profilePicture)
            a(href="/logout") Logout
                i.fa.fa-logout
        else
            a(href="/register") Register
            a(href="/login") Login