nav#main-nav-bar
    .wrapper
        #main-left-nav-bar.d-flex
            a(href="/") Home
            a(href="/leaderboards?region=NA1") Leaderboards
            a(href="/statistics") Statistics
            #nav-dropdown.dropdown.show.d-flex
                a.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Data
                .dropdown-menu(aria-labelledby="nav-dropdown")
                    a.dropdown-item(href="/champions") Champions
                    a.dropdown-item(href="/runes") Runes
                    a.dropdown-item(href="/items") Items

        #nav-bar-login.d-flex.ml-auto
            //- a.d-flex.align-items-center(href="/users") Find Legends
            if currentUser
                #nav-bar-util.d-flex.mr-5

                    .util-box(data-link="#notifications-nav")
                        i.far.fa-lg.fa-bell
                        span.badge 5
                        #notifications-nav.util-content.shadow.p-3 You Don't have any notifications
                        
                    .util-box(data-link="#messages-nav")
                        i.far.fa-lg.fa-envelope
                        span.badge 5
                        #messages-nav.util-content.shadow.p-3 You Don't have any messages
                        
                    .util-box(data-link="#friend-requests-nav")
                        i.fa.fa-lg.fa-user-plus
                        span.badge 15
                        #friend-requests-nav.util-content.shadow.p-3 You Don't have any friend requests

                a(href="/profile")= currentUser.username
            else
                a(href="/register") Register
                a(href="/login") Login
