#profile-menu.silent-shadow.d-flex.flex-column
    a(href="/")
        i.fas.fa-home 
        | Home
    a.active(href="/profile")
        i.fas.fa-user
        | Profile
    a(href="/profile/inbox")
        i.fas.fa-inbox
        | Inbox
    a(href="/profile/friends")
        i.fas.fa-user-friends
        | Friends
    a(href="/profile/info")
        i.fas.fa-info-circle
        | Info
    a(href="/profile/settings")
        i.fas.fa-wrench
        | Settings
    a(href="/logout")
        i.fas.fa-sign-out-alt
        | Logout