#sidebar
	.sidebar-wrapper
		hr
		.d-flex.justify-content-start
			a#sidebar-btn(style="margin-left: 21px"): i.fa.fa-bars.fa-lg
		.profile-menu.d-flex.flex-column.flex-grow
			.sidebar-item
				a.d-flex(href="/")
					i.fa.fa-lg.fa-home(style="margin-right: 20px")
					span Home
			.sidebar-item
					a.d-flex(href="/")
						i.fa.fa-lg.fa-user(style="margin-left: 2px; margin-right: 23px")
						span Profile
			.sidebar-item
					a.d-flex(href="/")
						i.fa.fa-lg.fa-envelope(style="margin-right: 19px")
						span Messages
			hr


	
//- script.
//- 	window.onload = function() {
//- 		$('#sidebar-btn').click( () => {
//- 			console.log('open')
//- 			$('#sidebar').toggleClass('open-sidebar');
//- 		});
//- 	}
		