//- nav#sidebar
	.sidebar-wrapper
		.sidenav-menu.d-flex.flex-column.flex-grow
			.sidebar-item
				a.d-flex(href="/")
					i.fa.fa-lg.fa-home(style="margin-left: 3px; margin-right: 20px")
					span Home
			.sidebar-item
					a.d-flex(href="/profile")
						i.fa.fa-lg.fa-user(style="margin-left: 5px; margin-right: 22px")
						span Profile
			.sidebar-item
					a.d-flex(href="/profile/friends")
						i.fa.fa-lg.fa-users(style="margin-left: 2px; margin-right: 22px")
						span Friends
			.sidebar-item
					a.d-flex(href="/profile/messages")
						i.fa.fa-lg.fa-envelope(style="margin-left: 3px; margin-right: 19px")
						span Messages
			.sidebar-item
					a.d-flex(href="/champions")
						i.fa.fa-lg.fa-trophy(style="margin-left: 3px; margin-right: 19px")
						span Champions
			.sidebar-item
					a.d-flex(href="/leaderboards")
						i.fa.fa-lg.fa-line-chart(style="margin-left: 2px ; margin-right: 18px")
						span Leaderboards
			.sidebar-item
					a.d-flex(href="/statistics")
						i.fa.fa-lg.fa-pie-chart(style="margin-left: 2px; margin-right: 19px")
						span Statistics
			.sidebar-item
				a.d-flex(href="/settings")
					i.fa.fa-lg.fa-wrench(style="margin-left: 2px; margin-right: 19px")
					span Settings
			.sidebar-item
				a.d-flex(href="/contact")
					i.fa.fa-lg.fa-commenting(style="margin-left: 2px; margin-right: 19px")
					span Contact
			.sidebar-item
				a.d-flex(href="/logout")
					i.fa.fa-lg.fa-sign-out(style="margin-left: 3px; margin-right: 19px")
					span Logout