#sidebar.ui.visible.vertical.inverted.sidebar.labeled.icon.menu
		a.item(href="/")
			i.home.icon
			| Home
		a.item(href="/profile")
			i.user.icon
			| Profile
		a.item(href="/profile/messages")
			i.envelope.icon
			| Messages
		a.item(href="/leaderboards")
			i.trophy.icon
			| Leaderboards
		a.item(href="/statistics")
			i.pie.chart.icon
			| Statistics
		a.item(href="/settings")
			i.settings.icon
			| Settings
		if currentUser
			a.item(href="/logout")
				i.sign.out.alternate.icon
				| Logout
		a.item(href="/register")
			i.sign.in.alternate.icon
			| Login

		//- 		a.d-flex(href="/profile/friends")
		//- 			i.fa.fa-lg.fa-users(style="margin-left: 1px; margin-right: 22px")
		//- 			span Friends
		//- 	.sidebar-item
		//- 		a.d-flex(href="/profile/messages")
		//- 			i.fa.fa-lg.fa-envelope-o(style="margin-right: 19px")
		//- 			span Messages
		//- 	hr
		//- 	.sidebar-item
		//- 		a.d-flex(href="/champions")
		//- 			i.fa.fa-lg.fa-trophy(style="margin-left: 3px; margin-right: 19px")
		//- 			span Champions
		//- 	.sidebar-item
		//- 		a.d-flex(href="/leaderboards")
		//- 			i.fa.fa-lg.fa-line-chart(style="margin-right: 18px")
		//- 			span Leaderboards
		//- 	.sidebar-item
		//- 		a.d-flex(href="/statistics")
		//- 			i.fa.fa-lg.fa-pie-chart(style="margin-right: 19px")
		//- 			span Statistics
		//- 	hr
		//- 	.sidebar-item
		//- 		a.d-flex(href="/settings")
		//- 			i.fa.fa-lg.fa-wrench(style="margin-right: 19px")
		//- 			span Settings
		//- 	.sidebar-item
		//- 		a.d-flex(href="/contact")
		//- 			i.fa.fa-lg.fa-commenting(style="margin-right: 19px")
		//- 			span Contact
		//- 	.sidebar-item
		//- 		a.d-flex(href="/logout")
		//- 			i.fa.fa-lg.fa-sign-out(style="margin-right: 19px")
		//- 			span Logout
