@mixin border-hover($size, $color) {
    border-bottom: $size solid transparent;
    &:hover {
        border-color: $color !important;
    }
    &:focus {
        outline: 0;
    }
}

@mixin color-hover($color) {
    &:hover {
        color: $color;
    }
}