@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    // padding-top: 50px;
    color: $light-grey;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.03em;
}
label {
    color: $light-grey;
}
hr {
    background: #b1a0ff;
}

a {
    color: $light-grey;
    &:hover {
        color: $light-grey;
        text-decoration: none;
    }
}
input, textarea {
    // caret-color: $light-grey !important;
    // color: $white !important;
    &::selection {
        background: #b1a0ff;
        color: #fff;
    }
}
// BOOTSTRAP
.row {
    margin: 0;
}
.bold {
    font-weight: 600 !important;
}
.container {
    max-width: 1400px;
}

.btn {
    border: 0;
    font-size: 1em;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}
// BOOTSTRAP END
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: $light-grey;
}

::selection {
    background: #b1a0ff;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 5px solid $primary-colored-text;
}
// DATA TABLES
#overall-table_filter {
    float: left;
    margin-left: 10px;
}
table.dataTable tbody tr {
    background-color: inherit;
}
.dataTables_wrapper .dataTables_filter input {
    transition: 0.4s;
    padding: 5px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid $light-grey;
    color: $light-grey;
    &:focus {
        border-color: $primary-colored-text;
        outline: 0;
    }
}
// DATA TABLES END

