@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    background: $light-grey;
    color: $black;
}

a {
    color: $light-grey;
    &:hover {
        color: $light-grey;
    }
}
input, textarea {
    // caret-color: $light-grey !important;
    // color: $white !important;
    &::selection {
        background: #b1a0ff;
        color: #fff;
    }
}
.container {
    max-width: 1400px;
}

::selection {
    background: #b1a0ff;
    color: #fff;
}

.ui.vertical.menu {
    width: 100%;
}
// ::-webkit-input-placeholder {
//     color: $dark-grey !important;
// }

// ::-moz-placeholder {
//     color: $dark-grey !important;
// }

// :-ms-input-placeholder {
//     color: $dark-grey !important;
// }

// :-moz-placeholder:focus {
//     color: $dark-grey !important;
// }

// UTILS 
// .d-flex {
//     display: flex !important;
// }
// .d-none {
//     display: none;
// }
// .align-items-center {
//     align-items: center;
// }
// .justify-content-center {
//     justify-content: center;
// }
// .text-center {
//     text-align: center !important;
// }
// .h-100 {
//     height: 100%;
// }
// .w-100 {
//     width: 100%;
// }

// .m-0 {
//     margin: 0 !important;
// }
// UTILS END

// DATA TABLES
table.dataTable tbody tr {
    background-color: inherit;
}
// DATA TABLES END