@import "variables";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fff;
  padding-top: 65px;
  font-family: $Open;
  font-size: 16px;
  background: $body-bg;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

label {
  color: $light-grey;
}

hr {
  background: #b1a0ff;
}

a {
  color: $light-grey;
  &:hover {
    color: $light-grey;
    text-decoration: none;
  }
}

input,
textarea {
  caret-color: $nav-blue;
  color: #fff;
  border: 0;
  &::selection {
    background: $nav-blue;
  }
}
button {
  outline: 0;
  cursor: pointer;
  &:hover, &:focus, &:active {
    outline: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  user-select: none;
}

::-webkit-input-placeholder {
  color: $dark-grey !important;
}

// BOOTSTRAP
.shadow {
  box-shadow: 0px 0px 20px 2px #151515;
}

.fill-shadow {
  box-shadow: 0 0px 10px 2px #0c0c0c;
}

.vh-100 {
  height: 100vh;
}

.row {
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: 600 !important;
}

.container {
  max-width: 1400px;
  min-height: 100vh;
}

.btn {
  min-width: 80px;
  color: $light-grey;
  border-radius: 0;
  border: 0;
  font-size: 0.9em;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

// BOOTSTRAP END
.dataTables_info {
  padding: 5px;
}
table.dataTable.no-footer {
  border: 0;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 400;
}

.dataTables_filter {
  padding: 5px 16px;
}

.dataTables_empty {
  color: $dark-blue;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: $light-grey;
}

table.dataTable thead th,
table.dataTable thead td {
  border: 0;
}

table.dataTable {
  margin: 0;
}

::selection {
  background: $nav-blue;
  color: #fff;
}

.nav-pills .nav-link {
  border-radius: 0;
}

// .nav-pills .nav-link.active,
// .nav-pills .show>.nav-link {
//   color: #fff;
//   background-color: transparent;
//   border-radius: 0;
//   border-bottom: 3px solid $dark-blue;
// }

// DATA TABLES
#overall-table_filter {
  float: left;
  margin-left: 10px;
}

table.dataTable tbody tr {
  background-color: inherit;
}

table.dataTable thead .sorting {
  background-image: url('');
}

.dataTables_wrapper .dataTables_filter input {
  transition: 0.4s;
  padding: 5px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid $light-grey;
  color: $light-grey;
  &:focus {
    border-color: $dark-blue;
    outline: 0;
  }
}

.table {
  thead tr {
    th {
      padding: 15px 0;
    }
  }
  th {
    border: 0;
  }
  td {
    border: 0;
    vertical-align: middle;
  }
  thead th {
    border: 0;
  }
}

// DATA TABLES END
.main-bg {
  background: $primary-bg-color;
}

.light-bg {
  background: $primary-light-bg;
}

.btn-turkiz {
  background: #066955;
}

.silent-border {
  border: 1px solid rgba(115, 115, 115, 0.35) !important;
}

.silent-shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .34), 0 1px 8px -3px rgba(0, 0, 0, .26), 0 2px 16px 0 rgba(0, 0, 0, .28) !important;
}