@import "variables";
@import "keyframes";
@import "mixins";
/* NAVBAR */

#main-nav-bar {
  box-shadow: 0 4px 5px #1d1d1d;
  background: $nav-bg;
  position: fixed;
  color: #fff;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 999;
  #nav-dropdown {
    position: relative;
    display: flex;
    .nav-dropdown {
      position: absolute;
      top: 65px;
      opacity: 0;
      background: #2a2a2a;
      box-shadow: 0px 4px 11px #1d1d1d;
      transform: rotateX(-90deg);
      transition: all cubic-bezier(0.18, 0.06, 0.29, 1.04) 250ms;
      transform-origin: top;
    }
    &:hover {
      .nav-dropdown {
        transform: rotateX(0deg);
        opacity: 1;
      }
    }
  }
  .wrapper {
    height: 100%;
    white-space: nowrap;
    margin: 0 auto;
    max-width: 1400px;
    user-select: none;
    display: flex;
    z-index: 1100;
    >div {
      height: 100%;
    }
    a,
    .util-box {
      &::before {
        content: '';
        display: block;
        height: 5px;
        background: $nav-blue;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform cubic-bezier(0.65, 0.05, 0.27, 1.01) 200ms;
        z-index: 1;
      }
    }
    a {
      position: relative;
      font-family: $Mont;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      letter-spacing: 0.07em;
      text-align: center;
      padding: 20px;
      &:active {
        color: $nav-blue;
      }
      &:hover:not(.hist) {
        &::before {
          transform: scale(1, 1);
        }
      }
    }
  }
}

#nav-search {
  margin: 0 auto;
  #summoner-input {
    position: relative;
    input {
      background: #6d6d6d;
      border: 0;
      padding-left: 8px;
      width: 190px;
      height: 35px;
    }
    #summoner-search-btn {
      border: 0;
      height: 35px;
      width: 70px;
      background: $dark-blue-btn;
      i {
        color: #fff;
        transition: transform 150ms ease-out;
      }
      &:hover {
        background: $dark-blue;
        i {
          transform: rotate(90deg);
        }
      }
      &:active {
        background: $dark-blue-btn;
      }
    }
    #search-history {
      position: absolute;
      display: none;
      top: 50px;
      width: 100%;
      background: $nav-bg-dark;
      border-top: 5px solid $dark-blue-btn;
      .summoner {
        display: flex;
        justify-content: space-between;
        padding: .8em;
        .remove-history {
          padding: 0 .8em;
          cursor: pointer;
          i {
            font-size: .8em;
          }
        }
        a {
          font-family: $Open;
          letter-spacing: 0;
          padding: 0;
          font-size: 0.9em;
        }
      }
    }
  }
  
  #nav-regions {
    cursor: pointer;
    position: relative;
    background: $nav-btn;
    width: 70px;
    margin-left: 10px;
    font-size: .9em;
    height: 35px;
    #regions-wrapper {
      display: none;
      #region-select {
        cursor: default;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        background: $nav-bg;
        padding: 3px;
        left: -10px;
        top: 50px;
        width: 258px;
        box-shadow: 0px 4px 11px #1d1d1d;
        >div {
          font-size: 0.8em;
          height: 35px;
          width: 70px;
          margin: 7px;
          background: $nav-btn;
          transition: transform 80ms ease-out;
          cursor: pointer;
          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}

#nav-bar-util {
  color: #fff;
  .util-box {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-bottom: 5px solid transparent;
    &:hover:not(.active) {
      &::before {
        transform: scale(1, 1);
      }
    }
    &.active {
      background: $nav-bg-dark;
      border-bottom-color: $nav-blue !important;
      > i {
        color: $nav-blue;
      }
    }
    .badge {
      font-family: Arial;
      background: $nav-btn;
      border-radius: .50rem;
      font-size: 72%;
      color: #fff;
      position: absolute;
      top: 5px;
      left: 35px;
    }
    .util-content {
      cursor: default;
    }
  }
}

#notifications-nav,
#messages-nav,
#friend-requests-nav {
  background: $nav-bg-dark;
  color: $light-grey;
  display: none;
  position: absolute;
  width: 350px;
  padding: .5em;
  height: 300px;
  top: 88px;
  z-index: 100;
  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 155px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $nav-bg-dark;
  }
  &.is-closed {
    display: block;
    animation: close-window 150ms ease-out forwards;
  }
  &.active {
    display: block;
    animation: open-window 150ms ease-out forwards;
  }
  .notify-wrapper {
    position: relative;
    padding: 0px 1.1em 0px .5em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    &::before {
      position: absolute;
      top: 50%;
      content: "√";
      background-color: $dark-blue;
      margin-top: -17px;
      left: -17px;
      color: #FFF;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      font-family: Georgia;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}

// SIDEBAR
#sidebar {
  user-select: none;
  padding-top: 10px;
  position: fixed;
  z-index: 1000;
  width: 55px;
  height: 100vh;
  transition: 0.5s;
  &:hover {
    width: 220px;
    .sidebar-item span {
      opacity: 1;
      visibility: visible;
    }
  }
  hr {
    background: #b1a0ff;
  }
}

.sidebar-item {
  padding: 10px 10px;
  border-left: 5px solid transparent;
  a {
    align-items: center;
  }
  span {
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
  }
}

// SIDEBAR END
// CHAMPIONS
.champion-square {
  margin: 10px;
  padding: 10px;
  p {
    color: #c7c7c7;
    font-size: 0.9em;
    margin: 0;
  }
  .champ-img {
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 23px 1px #000000;
  }
  img {
    border-radius: 50%;
    transform: scale(1.1);
    transition: transform 300ms ease-out;
  }
  &:hover {
    img {
      transform: scale(1.4);
    }
  }
}

// CHAMPIONS END
// CHAMPION

#champ-base-stats {
  table {
    tr>th,
    td {
      padding: 3px;
      font-weight: 600;
    }
    td {
      width: 240px;
    }
  }
}

.ability-tile {
  width: 64px;
  height: 64px;
}

// PILLS
#champ-nav .nav-pills {
  .nav-link.active {
    background-color: inherit;
    border-bottom: 5px solid $dark-blue;
  }
  a {
    border-radius: 0;
    @include border-hover(5px, $dark-blue);
  }
}

// PILLS END
// CHAMPION END
// INDEPTH
#champ-header {
  padding: 30px;
}

#build-sets,
#summoner-sets {
  img {
    width: 40px;
    height: 40px;
  }
}

#champ-patch-stats {
  table tr {
    @include color-hover($dark-blue);
  }
}

// INDEPTH END
// SUMMONER

#summoner-wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  .profile-header {
    width: 100%;
    display: flex;
    padding-bottom: 8px;
    align-items: flex-end;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, .35);
    h1 {
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    h4 {
      line-height: 0.3;
      font-size: 1.1rem;
    }
    .profile-icon {
      width: 40px;
      height: 40px;
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .summoner-league-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    .league-icon {
      align-self: center;
      height: 140px;
      width: 140px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .league-data {
      margin: 10px 0 0 30px;
      span {
        color: $dark-grey;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

.series-progress {
  >div {
    display: inline-block;
  }
  .series-W::after,
  .series-L::after,
  .series-N::after {
    margin: 0 3px;
    font-size: 10px;
    border-radius: 50%;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f111";
  }
  .series-W::after {
    background: lime;
    color: lime;
  }
  .series-L::after {
    background: red;
    color: red;
  }
  .series-N::after {
    color: $dark-grey;
  }
}



// LEAGUE
.league-table {
  thead {
    th:first-child {
      padding-right: 5px;
    }
    th {
      font-weight: 400;
    }
  }
  tbody tr {
    &:hover {
      color: $dark-blue;
      a {
        color: $dark-blue;
      }
    }
  }
  td {
    padding: 10px;
  }
}

// LEAGUE EMD
// ACTIVE MATCH 
#match-wrapper {
  font-size: 0.9em;
  .series-progress {
    position: absolute;
    bottom: 0;
    left: 49px;
  }
  .player-rank {
    height: 36px;
    width: 36px;
    margin-right: 10px;
  }
  table {
    background: #232323;
    color: $dark-grey;
    thead tr {
      border-bottom: 1px solid #424242;
    }
    td {
      padding: 5px;
      border-bottom: 1px solid #424242;
    }
    th {
      padding: 15px 5px;
    }
  }
  .total-games {
    margin-left: 10px;
  }
}

.match-info {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1.5em 1em;
  background: $primary-bg-color;
  #spectate {
    &:hover {
      background: #27a968;
    }
  }
  span:first-of-type {
    border-right: 1px solid $dark-grey;
    padding-right: 10px;
  }
  span:last-of-type {
    border-right: 1px solid $dark-grey;
    padding: 0 10px;
    margin-right: 15px;
  }
  button {
    flex: 0.2;
    margin-left: auto;
  }
}

.player-champ-icon,
.match-bans {
  height: 40px;
  width: 40px;
}

.player-profile-icon,
.player-rune-icon,
.player-ss-icon {
  height: 20px;
  width: 20px;
}

.match-runes-opener {
  user-select: none;
  cursor: pointer;
}

.match-runes {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  .inner-runes {
    cursor: default;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background: #323232;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    #main-perk,
    #sub-perk {
      padding: 15px;
      margin-top: 100px;
      >img {
        margin-left: 60px;
      }
    }
    img {
      filter: grayscale(1);
      margin: 8px;
      height: 36px !important;
      width: 36px !important;
      &.active {
        filter: grayscale(0);
      }
    }
  }
}

#nav-match {
  margin-top: 20px;
}

#nav-match-tab {
  &.ingame {
    background: #27a968 !important;
  }
  &.animate {
    animation: ingame 1500ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
  }
}

.not-in-game {
  padding-top: 30px;
  height: 159px;
}

// ACTIVE MATCH END

// RECENT GAMES
#summoner-nav {
  .nav-tabs .nav-link {
    padding: 10px 40px;
    border: 0;
    margin-right: 2em;
    border-radius: 0;
  }
  .nav-tabs {
    border: 0;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: $dark-blue-btn;
    color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
}

#recent-games {
  font-size: 0.9em;
  margin-top: 1em;
  .recent-game-wrapper {
    font-weight: 600;
    box-shadow: 0 3px 8px 0px #000000;
    margin: 1em 0;
    .game-header {
      background: $primary-bg-color;
      padding: .5em 1em;
      color: $dark-grey;
      .analyze-match {
        a {
          color: #2ce0ff;
        }
      }
        > div {
        width: 135px;
        margin-right: 1.5em;
      }
    }
    .game-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3em;
      
      &.win {
        background: #064c17;
      }
      &.loss {
        background: #800f17;
      }
      .champ {
        width: 50px;
        height: 50px;
        img {
          border-radius: 50%
        }
      }
      .summoner-info {
        width: 130px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        >div {
          margin: 0.3em;
        }
        .level {
          flex: 1;
          text-align: center;
        }
        .summoners,
        .runes {
          img {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-bottom: 0.3em;
          }
        }
      }
      .KDA {
        color: $dark-grey;
        width: 135px;
        text-align: center;
        padding-right: 2em;
        span {
          color: $light-grey;
        }
      }
      .end-game-items {
        width: 135px;
        .wards {
          font-weight: 300;
          color: $light-grey;
          font-family: Arial;
          font-size: .8em;
        }
        .item {
          margin: 0.1em;
          display: inline-block;
          height: 30px;
          width: 30px;
          img {
            border-radius: 7px;
          }
        }
      }
      .teams {
        display: flex;
        align-self: flex-end;
        .blue-team,
        .red-team {
          width: 175px;
          display: flex;
          flex-flow: column;
          .player {
            margin: .05em;
            display: flex;
            .champion {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

// RECENT GAMES END

// SUMMONER LEAGUE
#leagues {
  .nav-item {
    transition: background 220ms ease;
    &:hover {
      background: $nav-btn;
    }
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: $nav-btn;
  }
  ul {
    padding-top: 20px;
    display: flex;
    li {
      text-align: center;
      flex: 1;
    }
  }
}
// SUMMONER LEAGUE END
// SUMMONER END

// RUNES
#runes-paths {
  display: flex;
  justify-content: space-evenly;
  > div {
    user-select: none;
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin: 30px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: 0.5s;
    img {
      filter: grayscale(100%);
      border-radius: 50%;
      transition: 0.5s;
    }
    &:hover {
      img {
        filter: grayscale(0)
      }
    }
  }
}

#runes-wrapper {
  border-radius: 20px;
  border: 5px solid transparent;
}

#rune-trees {
  h5 {
    font-weight: 600;
  }
  p {
    margin: 0;
  }
  li {
    list-style: none;
  }
  >div {
    padding: 20px;
    display: none;
    margin-left: 20px;
  }
  img {
    user-select: none;
    cursor: pointer;
    margin: 20px;
    width: 48px;
    height: 48px;
    filter: grayscale(100%);
    border-radius: 50%;
    transition: 0.5s;
    &:hover {
      filter: grayscale(0)
    }
  }
}

.active-path {
  img {
    filter: grayscale(0) !important;
  }
}

.active-rune {
  filter: grayscale(0) !important;
}

// RUNES END
#runes-set {
  width: 100%;
  display: flex;
  justify-content: center;
  .runes {
    margin: 0 26px 50px;
    width: 100%;
    max-width: 500px;
  }
  h6 {
    margin-bottom: 0;
    padding: 20px;
  }
  .stats-runes-wrapper {
    max-width: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background: #232323;
    .main-perk {
      margin-right: auto;
    }
    .main-perk,
    .sub-perk {
      >img {
        height: 48px !important;
        width: 48px !important;
        margin-left: 75px;
      }
    }
    img {
      display: inline-block;
      filter: grayscale(1);
      margin: 15px;
      height: 36px !important;
      width: 36px !important;
      &.active {
        filter: grayscale(0);
      }
    }
  }
}

.skill-order-table {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  grid-gap: 1px;
  user-select: none;
}

.board-box {
  background: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-box img {
  width: 100%;
  height: 100%;
}

.item-tile img {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.ability-wrapper {
  border-radius: 5px;
  border: 1px solid #686868;
  margin: 0 auto 40px !important;
}

/* IZIALERT */

.iziToast-wrapper-topRight {
  top: 95px;
}

.iziToast-wrapper-topCenter {
  top: 95px;
}

// Statistics
/* OVERALLTABLE */

#overall-patch-tables {
  padding-top: 18px;
  th {
    font-weight: 400;
  }
}

#overall-champs table {
  thead tr th {
    font-weight: 600;
  }
  tbody {
    tr:nth-child(even) {
      background: $primary-bg-color !important;
    }
  }
  td {
    border: 0;
    vertical-align: middle;
  }
}

.overall-table-champ-tile {
  margin-left: 13px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  img {
    border-radius: 50%;
    transform: scale(1.1);
    transition: transform 300ms ease-out;
  }
}

#overall-table {
  thead tr {
    background: $primary-bg-color;
    color: $dark-blue;
  }
  tbody tr {
    cursor: pointer;
    td,
    th {
      padding: 7px 0;
    }
    &:hover {
      color: $dark-blue;
    }
  }
}

/* OVERALLTABLE END*/

/* OVERALL PATCH */

#overall-league-select,
#overall-table-elo-select {
  background: $primary-bg-color;
  border: 0;
  color: $dark-blue;
  border: 1px solid $dark-blue;
  &:focus {
    outline: 0;
  }
}

#overall-wrapper th,
#overall-wrapper td {
  padding-top: 0.6rem;
}

.overall-champ-tile {
  transform: scale(0.7);
  width: 36px;
  height: 36px;
  background-size: cover;
  float: left;
}

.league-info {
  display: flex;
  align-items: center;
}

.league-info>span {
  margin-left: 25px;
}

.t-champ-name {
  display: inline-block;
  padding-left: 0.3rem;
  padding-top: 0.6rem;
}

/* OVERALL PATCH END */

/* OVERALL */

/* ITEMS */

#item-filter {
  ::placeholder {
    color: $light-grey;
  }
}

.league-item {
  width: 48px;
  height: 48px;
  border-radius: 7px;
  border: 1px solid #393939;
}

#item-search {
  transition: 400ms;
  padding: 5px;
  border-radius: 0;
  border: 0;
  background: 0 0;
  border-bottom: 2px solid #e8e8e8;
  &:focus {
    border-color: $dark-blue;
    outline: 0;
    box-shadow: none;
  }
}

.filter-option {
  user-select: none;
  label {
    cursor: pointer;
  }
  input {
    margin-right: 1em;
    cursor: pointer;
  }
}

/* ITEMS */

// LEADERBOARDS
.leaderboard-regions {
  margin: 55px;
  a {
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }
}

.lb-tier {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.lb-info {
  margin: 0 auto;
}

.dataTables_filter {
  float: left !important;
}

#leaderboard-table_filter {
  margin-top: 20px;
}

.leaderboard-regions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  a {
    border-bottom: 3px solid transparent;
    border-radius: 0;
    transition: 
      border-color 200ms ease-out,
      color 200ms ease-out;
    &:hover {
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }
}

#leaderboard-table {
  thead th {
    padding: 8px;
    user-select: none;
    font-weight: 400;
    color: $dark-blue;
  }
  tbody tr {
    &:hover {
      color: $dark-blue;
      a {
        color: $dark-blue;
      }
    }
  }
  td {
    padding: 10px;
  }
}

.hot-streak {
  div {
    width: 33%;
    display: flex;
    justify-content: center;
  }
}

// LEADERBOARDS END

/* FOOTER */

#footer {
  padding: 1em 2em;
  font-family: $Mont;
  background-image: linear-gradient(to right bottom, #323232, #2f2f2f, #2c2c2c, #2a2929, #272626);
  h3 {
    font-weight: 600;
  }
  .d-flex {
    justify-content: space-evenly;
    a {
      color: $laser-green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .donate {
    position: absolute;
    right: 0;
    height: 50px;
    display: flex;
    img {
      width: auto;
      height: auto;
    }
  }
  .c-wrapper {
    border-top: 1px solid #484848;
    .c {
      color: $dark-grey;
      text-align: center;
      font-size: 0.8em;
      padding-top: .5em;
      a {
        color: $light-blue !important;
      }
    }
  }
  
  .social-media {
    height: 80px;
    > div {
      margin: 0 .3em;
      border-radius: 50%;
      font-size: 1.5em;
      a {
        border-radius: 50%;
        flex: 1;
        height: 100%;
      }
      i {
        color: $dark-grey;
        transition: color 250ms ease;
      }
    }
    .facebook:hover {
      i {
        color: #3B5998;
      }
    }
    .twitter:hover {
      i {
        color: #1DA1F2;
      }
    }
    .instagram:hover {
      i {
        color: #cd486b;
      }
    }
  }
}

// Footer End

// POPOVER
.popover {
  font-size: 15px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  max-width: 266px;
  border-radius: 0.25rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.popover-header {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  color: $dark-blue;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid $dark-blue;
}

.popover-body>span {
  img {
    width: 48px;
    height: 48px;
    border-radius: 7px;
  }
  text-align: center;
  display: block;
  padding-bottom: 15px;
}

.popover-body {
  padding: 15px 0px;
  color: #fff;
}

.cost {
  border-top: 1px solid $dark-blue;
  padding: 15px 10px 0px;
  span {
    padding-right: 50px;
  }
}

itemname {
  text-align: center !important;
  color: $dark-blue;
}

unique,
active,
active>a,
passive,
passive>a {
  color: #fddb22;
}

stats {
  color: #96fa96;
}

// POPOVER END
#overall-wrapper .table td,
.table th {
  padding: 0;
  vertical-align: middle;
  border: 0;
}

// PROFILE 
#profile-menu {
  font-family: $Mont;
  font-weight: 600;
  letter-spacing: .07em;
  background: $nav-bg;
  a {
    padding: 1em;
    i {
      margin-right: 1.2em;
    }
    &.active {
      background: $nav-bg-dark;
      border-left: 5px solid $nav-blue;
      color: $nav-blue;
      padding-left: 1.5em;
    }
    &:active {
      color: $nav-blue;
    }
  }
}

.profile-post-wrapper {
  form {
    overflow: hidden;
  }
  textarea {
    background: $primary-light-bg;
    border: 0;
    color: $light-grey;
    resize: none;
    &:focus {
      background: $primary-light-bg;
      color: $light-grey;
      box-shadow: none;
    }
  }
  button {
    float: right;
    background: $dark-blue;
  }
}

// Inbox
#inbox-controls {
  user-select: none;
  background: $nav-bg;
  font-family: $Mont;
  font-weight: bold;
  font-size: 0.9em;
  > div {
    padding: .7em;
    cursor: pointer;
    transition: padding 100ms ease-out;
    &:hover {
      background: $nav-bg-dark;
      color: $nav-blue;
    }
    &.active {
      background: $nav-bg-dark;
      border-left: 5px solid $nav-blue;
      color: $nav-blue;
      padding-left: 1.5em;
    }
    &:active {
      color: $nav-blue;
    }
  }
}

#inbox-msg-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;
  padding: 0 1em;
}

.msg-wrapper {
  background: #545454;
  font-family: $Mont;
  padding: 1em;
  display: flex;
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
  .pic {
    display: inline-block;
    width: 80px;
    height:80px;
    margin-right: 1em;
  }
  .content {
    flex: 1;
    .msg-header {
      .author {
        a {
          font-weight: bold;
          color: $laser-green;
        }
      }
    }
    .msg-body-wrapper {
      margin: 0 2em .5em 0;
      cursor: pointer;
      .msg-subject {
        margin: .5em 0em;
        font-weight: bold;
        color: $dark-grey;
      }
      .msg-body {
        margin-left: 1em;
        max-height: 75px;
        overflow: hidden;
      }
    }
    .msg-controls {
      button {
        font-weight: bold;
        background: transparent;
        border: 0;
        margin-right: 1.3em;
        color: $dark-grey;
        font-size: .8em;
        &:hover {
          color: $light-grey;
        }
      }
      .bookmark-msg, .self-bookmark-msg {
        &.active {
          i {
            color: yellow;
          }
        }
      }
    }
  }
}

.icon-btn {
  font-weight: 700;
  background: 0 0;
  border: 0;
  color: #c7c7c7;
  &:hover {
    color: $light-grey;
  }
}

// Inbox end

// Post

.post-header, .comment-header, .msg-header {
  margin-bottom: .6em;
  display: flex;
}

.post-body, .comment-body {
  color: $light-grey;
  margin: 1em 2em;
  p {
    margin: 0;
  }
}

.author {
  margin-right: 2em;
  a {
    color: $laser-green;
  }
}

.created {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 0.9em;
  color: $darker-grey;
}

.like-btn {
  &.active {
    color: #ff4042 !important;
  }
}

.delete-post, .delete-comment {
  margin-left: auto;
}

.actions-toggler {
  position: relative;
  margin-left: auto;
  > button {
    padding: 0 .8em;
    background: transparent;
    border: 0;
    color: $light-grey;
    i {
      vertical-align: bottom;
    }
  }
  .actions {
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    right: -32px;
    background: #2a2a2a;
    box-shadow: 1px 1px 5px 2px #191919;
    overflow: visible !important;
    &::before {
      display: block;
      content: '';
      top: -10px;
      right: 38px;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #2a2a2a;
    }
    button {
      font-weight: bold;
      margin: .5em;
      display: flex;
      align-items: center;
      border: 0;
      background: transparent;
      color: $really-dark-grey;
      i {
        margin: 0 .5em .2em 0;
      }
      &:hover {
        color: $light-grey;
      }
    }
  }
}

.post-controls, .comment-controls {
  display: flex;
  align-items: flex-end;
  margin: 0 2em 1em 2em;
  button {
    margin-right: .5em;
    background: transparent;
    border: 0;
    color: $really-dark-grey;
    &:hover {
      color: $light-grey;
    }
  }
}

.post-wrapper {
  font-family: $Mont;
  position: relative;
  word-wrap: break-word;
  padding: 1.5em;
  color: $dark-grey;
  margin-bottom: 3em;
  .post-content-wrapper {
    margin-bottom: 1em;
    border-bottom: 1px solid #2f2f2f;
    .like-count {
      font-weight: bold;
    }
    .comment-toggler {
      margin-left: 2em;
      button {
        font-weight: bold;
      }
    }
    .comment-form {
      display: none;
      margin: 1em 2em 0;
      padding-bottom: 1em;
      overflow: hidden;
      textarea {
        width: 100%;
        background: $primary-bg-color;
        border-bottom: 2px solid $laser-green;
        resize: none;
        color: $light-grey;
        margin-bottom: .2em;
        &:focus {
          outline: 0;
        }
      }
      button {
        float: right;
        background: $dark-blue;
      }
    }
  }
}

// Post end 
// Comment
.comments {
  margin-left: 2em;
  .comment {
    position: relative;
  }
}
// Comment end

// IMAGES
.delete-photo {
  position: absolute;
  top: -20px;
  right: -20px;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 2;
}

// IMAGES END
// PROFILE END

// Login and Register
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  .form-wrapper {
    padding: 1.5em;
    box-shadow: 0 0 18px 5px #272727;
    background: $nav-bg;
    .form-header {
      color: #fff;
      padding: 0.5em 0;
      border-bottom: 1px solid #5d5d5d;
      font-size: 1.8em;
      text-align: center;
      margin-bottom: 1em;
    }
    .form-footer {
      border-top: 1px solid #5d5d5d;
      padding-top: .5em;
      margin-top: .5em;
    }
    .forgot {
      letter-spacing: 0;
      font-size: .8em;
      color: $laser-green;
    }
    .logins {
      color: $laser-green;
    }
    button {
      background: transparent;
      font-size: 1.3em;
      border: 4px solid $nav-blue;
      margin: 1em 0 .5em 0;
      color: #fff;
      width: 100%;
      height: 50px;
      transition: 
        background 200ms ease-out,
        border-color 200ms ease-out;
      &:hover {
        background: $nav-bg-dark;
        border-color: $laser-green;
      }
      &:active {
        color: $laser-green;
      }
    }
    span {
      letter-spacing: 0;
      font-size: .8em;
    }
    a {
      color: $light-blue;
    }
  }
}

#register-form, #login-form, #contact-form {
  .form-icon {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    &.form-icon:last-of-type {
      margin-bottom: 1em;
    }
    i {
      align-self: flex-end;
      font-size: 1.2em;
      flex: 1;
      margin-bottom: .25em;
      &.fa-pencil-alt {
        align-self: flex-start;
        margin-top: 0.3em;
      }
    }
    input, textarea {
      background: transparent;
      padding: .25em .50em;
      width: 90%;
      border: 0;
      border-bottom: 1px solid $laser-green;
      &:focus {
        outline: 0;
      }
    }
  }
}
// Login and Register End

// FEEDBACK
#feedback-wrapper {
  padding: 5px 10px;
  width: 300px;
  background: #1e1e1e;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1100;
  select {
    font-family: "FontAwesome";
    color: #e9e9e9;
    border: 1px solid #b1a0ff;
    border-radius: 0;
    background-color: #2d2d2d;
  }
}

.close-feedback,
.remove-feedback {
  height: 27px;
  width: 27px;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
  padding: 0 5px;
  border: 0;
  color: $light-grey;
  outline-color: #b1a0ff;
  &:hover {
    background: #101010;
    color: #b1a0ff;
  }
}

.feedback-btns {
  font-size: 1.21em;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 500;
}

// FEEDBACK END
// VIDEO PLAYER
.plyr {
  border-radius: 5px;
  min-width: 100px !important;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  background: 0;
}

// VIDEO PLAYER END
// TEXT
.green-text {
  color: $green-text;
}

.yellow-text {
  color: #ffff00;
}

.red-text {
  color: $red;
}

// TEXT END
.blockquote {
  font-style: italic;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
}

/* RIOT CLASSES */

.greenC {
  color: #50e21e;
}

/* AD */

.colorFF8C00 {
  color: #ff8c00;
}

/* AP DAMAGE */

.color99FF99 {
  color: #99ff99;
}

/* HEALTH */

.colorCC3300 {
  color: #cc3300;
}

/* HEALTH */

.colorFF0000 {
  color: #ff7777;
}

.colorFFFFFF {
  color: #ffffff;
}

.color91d7ee {
  color: #91d7ee;
}

.colorF88017 {
  color: #f88017;
}

/* ARMOR */

.colorFFFF00,
yellow {
  color: #ffff00;
}

/* MAGIC RESIST */

.colorFF00FF {
  color: #ff00ff;
}

/* FURY */

.colorFF6633 {
  color: #ff6633;
}

.general-color {
  color: $dark-blue;
}

.colorFF9900 {
  color: #ff9900;
}

.coloree91d7 {
  color: #ee91d7;
}

.colorb3b3b3 {
  color: #b3b3b3;
}

.color88FF88 {
  color: #a2ffa2;
}

/* RIOT CLASSES */

/* FONT AWESOME */

.fa-arrow-down {
  color: #ff7777;
  margin: 0 0.2rem;
}

.fa-arrow-up {
  color: #42ff00;
  margin: 0 0.2rem;
}

/* FONT AWESOME */

// LOADER 
.ui.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%)
}

.ui.loader:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: .2em solid rgba(0, 0, 0, .1)
}

.ui.loader:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  animation: loader .6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent
}

// @-webkit-keyframes loader {
//   from {
//     -webkit-transform: rotate(0);
//     transform: rotate(0)
//   }
//   to {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg)
//   }
// }
.ui.loader:after,
.ui.loader:before {
  width: 2.28571429rem;
  height: 2.28571429rem;
  margin: 0 0 0 -1.14285714rem
}

.ui.dimmer .loader {
  display: block
}

.ui.dimmer .ui.loader {
  color: rgba(255, 255, 255, .9)
}

.ui.dimmer .ui.loader:before {
  border-color: rgba(255, 255, 255, .15)
}

.ui.dimmer .ui.loader:after {
  border-color: $dark-blue transparent transparent;
}

.ui.text.loader {
  min-width: 2.28571429rem;
  padding-top: 3.07142857rem
}

// LOADER END

// SCROLL TOP
#scroll-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 50;
  cursor: pointer;
  i {
    padding: 10px;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.75)
  }
}

// SCROLL TOP END
.zed-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Animations 
.ring {
  animation: ring 1500ms cubic-bezier(0.32, 0.12, 0.49, 1.16);
}

.bounceInDown {
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

// Animations End
