// bg
$primary-bg-color: #2c2c2c;
// nav
$primary-nav-color: #1b1c1d;
// $primary-nav-color: #55407b;
// text
$light-grey: #e8e8e8;
$dark-grey: #cacaca;
$primary-colored-text: #b1a0ff;
// colors
$dark-purple: #25133f;
$darkish-purple: #2e1b50;
$black-purple: #2b263b;
$light-purple: #7d5bbe;
$purple: #34285a;
$white: #fff;
$black: #242327;