// bg
$primary-bg-color: #1e1e1e;
$primary-light-bg-color: #1e1e1e;
// nav
$primary-nav-color: #1b1c1d;
// $primary-nav-color: #55407b;
// text
$green-text: #00ff00;
$red-text:#f11e1e;
$yellow-text:#ffff00;
$light-grey: #e8e8e8;
$dark-grey: #cacaca;
$purple-text: #b1a0ff;
$primary-colored-text: #b1a0ff;
// colors
$dark-purple: #25133f;
$darkish-purple: #2e1b50;
$black-purple: #2b263b;
$light-purple: #7d5bbe;
$purple: #34285a;
$white: #fefefe;
$black: #242327;