$Open: 'Open sans';
$Mont: 'Montserrat';

$primary-bg-color: #1d1d1d;
$primary-light-bg: #313131;
$primary-border: #7d5bbe;
$primary-nav-color: #1b1c1d;
$nav-bg-dark: #2a2a2a;
$nav-blue: #11b0d6;
$nav-btn: #467e84;
$nav-bg: #333;
$body-bg: #3a3a3a;
$darker-grey: #a2a2a2;
$really-dark-grey: #757575;
$laser-green: #00ffac;
$green-text: #00ff00;
$red: #d61111;
$light-grey: #e8e8e8;
$light-blue: #00ceff;
$dark-blue-btn: #0882a0;
$dark-blue: #03a9d2;
$dark-grey: #c7c7c7;;