include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        h1 404 bruh
    include partials/footer
    include partials/scroll_top
    include partials/scripts