include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        .row
            .col-md-7.mx-auto
                .champions-squares-wrapper.d-flex.justify-content-center.flex-wrap.text-center.mt-4
                    each champName in champs
                        .champion-square
                            a(href=`/champions/${champName.replace("'", '')}`)
                                img.lazy(data-src=`${ddragon}/img/champion/${champName}.png`)
                                p.bold.pt-2= champName
                script.
                    $(function() {
                        $('.lazy').Lazy();
                    });
        include partials/footer