include partials/head
body
    include partials/nav
    include partials/sidenav
    .container.pt-5
        .row
            .col-md-7.mx-auto
                .light-bg.champions-squares-wrapper.d-flex.justify-content-center.flex-wrap.text-center.pt-3.shadow
                    each champName in champs
                        .champion-square
                            a(href=`/champions/${champName.replace("'", '')}`)
                                .champ-img
                                    img.lazy(data-src=`${ddragon}/img/champion/${champName}.png`)
                                p.pt-2= champName
    include partials/footer
    include partials/scroll_top
    include partials/scripts