include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        include partials/champion_indepth
    include partials/footer
    include partials/scroll_top
    include partials/scripts