include partials/head.pug
body
    include partials/nav.pug

    .container
        .champions-squares-wrapper.d-flex.flex-wrap.justify-content-around
            each champName in champs
                .champion-square.p-1
                    a(href=`/champions/${champName.replace("'", '')}`)
                        img(src=`//ddragon.leagueoflegends.com/cdn/8.5.2/img/champion/${champName}.png`)
                 
    include partials/footer.pug