include partials/head
body
    include partials/nav
    include partials/sidenav
    .ui.container
        #champ-indepth-wrapper
            include partials/champion_indepth
        include partials/footer