include partials/head
body(style=`background-image: url(/assets/league/img/bgs/face.jpg);`)
    include partials/nav
    include partials/sidenav
    .container
        .champions-squares-wrapper.d-flex.flex-wrap.justify-content-between
            each champName in champs
                .champion-square.text-center
                    a.zoom(href=`/champions/${champName.replace("'", '')}`)
                        img.border.border-primary.rounded(src=`//ddragon.leagueoflegends.com/cdn/8.5.2/img/champion/${champName}.png`)
                        p.pt-1.m-0.text-center= champName
        include partials/footer