include partials/head
body
    include partials/nav
    include partials/sidenav
    .container.position-relative
        .form-container.col-xl-4.col-lg-5.col-11.col-md-7.p-0.mx-auto
            .form-wrapper
                .form-header Contact Zed
                form#contact-form(action="/contact" method="POST")
                    .form-group-wrapper
                        .form-icon
                            i.fa.fa-user.prefix
                            input(type="text" name="name" placeholder="Name" required)
                        .form-icon
                            i.fa.fa-at.prefix
                            input(type="text" name="email" placeholder="Email" required)
                        .form-icon
                            i.fa.fa-tag.prefix
                            input(type="text" name="subject" placeholder="Subject" required)
                        .form-icon
                            i.fas.fa-pencil-alt.prefix
                            textarea(type="text" name="message" rows="4" placeholder="Message..." required)
                    button Send
                        i.far.fa-paper-plane.pl-2
    include partials/footer
    include partials/scroll_top
    include partials/scripts