include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        .row.justify-content-center
            
            .col-md-8.col-lg-6.p-md-2.p-0
                h3.text-center Contact
                form#contact-form(action="/contact" method="POST")
                    .row
                        .col-md-6
                            .md-form
                                i.fa.fa-user-o.prefix
                                input#name-label.form-control(type="text" name="name" )
                                label(for="name-label") Your name
                        .col-md-6
                            .md-form
                                i.fa.fa-at.prefix
                                input#email-label.form-control(type="text" name="email" )
                                label(for="email-label") Your email
                    .row
                        .col-md-12
                            .md-form
                                i.fa.fa-tag.prefix
                                input#subject-label.form-control(type="text" name="subject" )
                                label(for="subject-label") Subject
                    .row
                        .col-md-12
                            .md-form
                                i.fa.fa-pencil.prefix
                                textarea#msg-label.form-control.md-textarea.md-textarea-auto.mb-3(type="text" name="message" rows="1" )
                                label(for="msg-label") Your message
                    .text-center.mb-1
                        button.btn.btn-success Send
                            i.fa.fa-paper-plane-o.pl-3
                    .ajax-loader-wrapper.text-center.invisible
                        img(src="assets/img/ajax-loader-transparent.gif")
        
        include partials/footer