include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        #inbox.pt-5
            .row
                .col-lg-3.col-md-4.mb-5.mb-md-0
                    include partials/profile_nav
                    if currentUser.friendRequests.length
                        #prof-friend-requests.main-bg.silent-shadow.p-3.mt-3
                            h6 Friend Requests
                            each request in currentUser.friendRequests
                                include partials/friend-request
                .col-md-2.col-sm-12.d-flex.flex-column.flex-grow.mb-5.mb-md-0
                    #inbox-controls.silent-shadow
                        #inbox.active(data-link='inbox-msgs') Inbox
                        #sent(data-link='inbox-sent' href="#sent") Sent
                        #bookmark(data-link='inbox-bookmark') Bookmark
                .col-md-7.col-sm-12.mb-5.mb-md-0.p-0
                    #inbox-msg-wrapper

                        - const messagesSent = []
                        - const bookmark = []

                        #inbox-msgs
                            each message in currentUser.messages
                                if !message.isDeleted
                                    if message.author._id == currentUser._id.toString()
                                        - messagesSent.push(message)
                                        if message.inBookmark
                                            - bookmark.push(message)
                                    else if message.inBookmark
                                        - bookmark.push(message)
                                        include partials/message
                                        include partials/reply
                                    else
                                        include partials/message
                                        include partials/reply
                                    
                        #inbox-sent(style="display: none")
                            each message in messagesSent
                                include partials/message

                        #inbox-bookmark(style="display: none")
                            each message in bookmark
                                include partials/message
    include partials/footer
    include partials/scroll_top
    include partials/scripts