include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        form#main-form(method="GET", action="/summoner")
            .form-group.col-md-8
                .input-group.mb-3
                    input.form-control(type="text", name="userName", placeholder="Enter Summoner")
                    button.btn.btn-outline-secondary(type="submit") Search
            
            .index-regions.col-md-4
                .form-check.form-check-inline
                    input.NA(type="radio", name="region", value="NA", checked)
                    | NA
                .form-check.form-check-inline
                    input(type="radio", name="region", value="EUW1")
                    | EUW
                .form-check.form-check-inline
                    input(type="radio", name="region", value="EUN1")
                    | EUNE
                .form-check.form-check-inline
                    input(type="radio", name="region", value="BR1")
                    | BRAZIL
                .form-check.form-check-inline
                    input(type="radio", name="region", value="KR")
                    | KOREA
                .form-check.form-check-inline
                    input(type="radio", name="region", value="JP1")
                    | JAPAN
                .form-check.form-check-inline
                    input(type="radio", name="region", value="LA1")
                    | LAN
                .form-check.form-check-inline
                    input(type="radio", name="region", value="LA2")
                    | LAS
                .form-check.form-check-inline
                    input(type="radio", name="region", value="TR1")
                    | TURKEY
                .form-check.form-check-inline
                    input(type="radio", name="region", value="OC1")
                    | OCE
                .form-check.form-check-inline
                    input(type="radio", name="region", value="RU")
                    | RUSSIA

        include partials/footer