include partials/head
body
    include partials/nav
    include partials/sidenav
    include partials/chat
    .container
        .row
            .col-lg-6.col-md-7.mx-auto
                form#search-form(method="GET", action="/summoner")
                    .input-group
                        .input-group-prepend
                            select#region-select(name="region")
                                option(value="NA1") NA
                                option(value="EUW1") EUW
                                option(value="EUN1") EUNE
                                option(value="KR") KOREA
                                option(value="JP1") JAPAN
                                option(value="LA1") LAN
                                option(value="BR1") BRAZIL
                                option(value="LA2") LAS
                                option(value="TR1") TURKEY
                                option(value="OC1") OCE
                                option(value="RU") RUSSIA
                        input.form-control(type="text" name="userName" maxlength="16" placeholder="Summoner Name")
                        .input-group-append
                            button.btn.btn-outline-secondary button
        include partials/footer