include partials/head
body
    include partials/nav
    include partials/sidenav
    .container.pt-1
        nav.leaderboard-regions.main-bg.silent-border.shadow
            a.btn.p-2(href="/leaderboards?region=NA1") NA
            a.btn.p-2(href="/leaderboards?region=EUW1") EUW
            a.btn.p-2(href="/leaderboards?region=EUN1") EUNE
            a.btn.p-2(href="/leaderboards?region=BR1") BRAZIL
            a.btn.p-2(href="/leaderboards?region=KR") KOREA
            a.btn.p-2(href="/leaderboards?region=JP1") JAPAN
            a.btn.p-2(href="/leaderboards?region=LA1") LAN
            a.btn.p-2(href="/leaderboards?region=LA2") LAS
            a.btn.p-2(href="/leaderboards?region=TR1") TURKEY
            a.btn.p-2(href="/leaderboards?region=OC1") OCE
            a.btn.p-2(href="/leaderboards?region=RU") RUSSIA
        include partials/leaderboard
    include partials/footer
    include partials/scroll_top
    include partials/scripts