include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        .leaderboard-regions
            a.btn(href="/leaderboards?region=NA1") NA
            a.btn(href="/leaderboards?region=EUW1") EUW
            a.btn(href="/leaderboards?region=EUN1") EUNE
            a.btn(href="/leaderboards?region=BR1") BRAZIL
            a.btn(href="/leaderboards?region=KR") KOREA
            a.btn(href="/leaderboards?region=JP1") JAPAN
            a.btn(href="/leaderboards?region=LA1") LAN
            a.btn(href="/leaderboards?region=LA2") LAS
            a.btn(href="/leaderboards?region=TR1") TURKEY
            a.btn(href="/leaderboards?region=OC1") OCE
            a.btn(href="/leaderboards?region=RU") RUSSIA
        include partials/leaderboard
        include partials/footer