include partials/head
body
    include partials/nav
    include partials/sidenav
    .container.position-relative
        .form-container.col-xl-3.col-lg-4.col-md-5.col-10.p-0.mx-auto
            .form-wrapper
                .form-header Join Zed
                form#register-form(action="/register" method="POST")
                    .form-group-wrapper
                        .form-icon
                            i.fa.fa-user
                            input(type="text" id="reg-username" name="username" placeholder="Username" required)
                        .form-icon
                            i.fa.fa-at
                            input(type="text" id="reg-email" name="email" placeholder="Email" required)
                        .form-icon
                            i.fas.fa-key
                            input(type="password" id="reg-password" name="password" placeholder="Password" required)
                        .form-icon
                            i.fas.fa-key
                            input(type="password" id="reg-conPass" name="confirmPassword" placeholder="Confirm Password" required)
                        a.forgot(href="/forgot") Forgot Password ?
                    .g-recaptcha(data-site-key="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-theme="dark")
                    button Register
                    span By signing up you indicate that you have read and agree to Zed's 
                        a(href="/about/terms") Terms of Service
                        | &nbsp;and 
                        a(href="/about/privacy") Privacy Policy
                        | .
                    .form-footer
                        span Already have an account ? 
                            a.logins(href="/login") login
                            | &nbsp;here
    include partials/footer
    include partials/scroll_top
    include partials/scripts