include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        .row
            .col-lg-6.col-md-7.mx-auto
                form#register-form.mt-3(action="/register" method="POST" autocomplete="off")
                    legend.text-center Register
                    .md-form
                        i.fa.fa-user.prefix
                        input.form-control.pb-3(type="text" id="reg-username" name="username" placeholder="Username" required)
                    .md-form
                        i.fa.fa-at.prefix
                        input.form-control.pb-3(type="text" id="reg-email" name="email" placeholder="Email" required)
                    .md-form
                        i.fa.fa-lock.prefix
                        input.form-control.pb-3(type="password" id="reg-password" name="password" placeholder="Password" required)
                    .md-form.mb-4
                        i.fa.fa-lock.prefix
                        input.form-control.pb-3(type="password" id="reg-conPass" name="confirmPassword" placeholder=" Confirm Password" required)
                    .text-center
                        button.btn.btn-outline-success Become a Legend
        include partials/footer