include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        p= JSON.stringify(runes[0])
        #runes-wrapper(style="background-image: url(/assets/league/img/runesReforged/perk/8000.jpg)")
            .precision(data-color="#ba8851")
                img(src="/assets/league/img/runesReforged/perk/8000.png")
            .domination(data-color="#f26574")
                img(src="/assets/league/img/runesReforged/perk/8100.png")
            .sorcery(data-color="#a274fa")
                img(src="/assets/league/img/runesReforged/perk/8200.png")
            .resolve(data-color="#49ce4c")
                img(src="/assets/league/img/runesReforged/perk/8300.png")
            .inspiration(data-color="#4dafc5")
                img(src="/assets/league/img/runesReforged/perk/8400.png")
            
        .perk-wrapper
            .perk
                img(src="/assets/league/img/runesReforged/perk/8005.png")
            .keystones
                img(src="/assets/league/img/runesReforged/perk/8005.png")
                img(src="/assets/league/img/runesReforged/perk/8008.png")
                img(src="/assets/league/img/runesReforged/perk/8021.png")
            .reg-perk
                img(src="/assets/league/img/runesReforged/perk/9101.png")
                img(src="/assets/league/img/runesReforged/perk/9111.png")
                img(src="/assets/league/img/runesReforged/perk/8009.png")
            .reg-perk
                img(src="/assets/league/img/runesReforged/perk/9104.png")
                img(src="/assets/league/img/runesReforged/perk/9105.png")
                img(src="/assets/league/img/runesReforged/perk/9103.png")
            .reg-perk
                img(src="/assets/league/img/runesReforged/perk/8014.png")
                img(src="/assets/league/img/runesReforged/perk/8017.png")
                img(src="/assets/league/img/runesReforged/perk/8299.png")
        script.
            $('#runes-wrapper > div').mouseover(function() {
                if (!$(this).hasClass('active-rune')) {
                    $(this).css('border-color', $(this).data('color'));
                }
            });
            $('#runes-wrapper > div').mouseout(function() {
                if (!$(this).hasClass('active-rune')) {
                    $(this).css('border-color', 'transparent');
                }
            });
            $('#runes-wrapper > div').click(function() {
                if (!$(this).hasClass('active-rune')) {
                    $('#runes-wrapper').children().css('border-color', 'transparent').removeClass('active-rune');
                    $(this).addClass('active-rune');
                    $(this).attr('style', `border-color: ${$(this).data('color')} !important`);
                }
            });
        include partials/footer