include partials/head
body(style=`background-image: url(/assets/league/img/bgs/face.jpg);`)
    include partials/nav

    .container
        button#spectate.btn.btn-outline-success(data-id='123')
        include partials/footer