include partials/head
body(style=`background-image: url(/assets/league/img/bgs/face.jpg);`)
    include partials/nav
    include partials/sidenav
    .container
        #overall-patch-wrapper
            include partials/overall_patch
        #overall-champs-wrapper
            include partials/overall_champs
        include partials/footer