include partials/head
body
    include partials/nav
    include partials/sidenav
    .ui.container
        #overall-patch-wrapper
            include partials/overall_patch
        #overall-champs-wrapper
            include partials/overall_champs
        include partials/footer