include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        #overall-patch-wrapper.p-2.my-5
            include partials/overall_patch
        #overall-champs-wrapper.p-2
            include partials/overall_champs
        include partials/footer