* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  color: #fff;
  margin-top: 65px;
  font-family: "Open sans";
  font-size: 16px;
  background: #3a3a3a; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

label {
  color: #e8e8e8; }

hr {
  background: #03a9d2; }

a {
  color: #e8e8e8; }
  a:hover {
    color: #e8e8e8;
    text-decoration: none; }

input,
textarea {
  caret-color: #11b0d6;
  color: #fff;
  border: 0; }
  input::selection,
  textarea::selection {
    background: #11b0d6; }

button {
  outline: 0;
  cursor: pointer; }
  button:hover, button:focus, button:active {
    outline: 0; }

img {
  width: 100%;
  height: 100%;
  user-select: none; }

::-webkit-input-placeholder {
  color: #c7c7c7 !important; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #333; }

::-webkit-scrollbar-thumb {
  background: #757575; }

.shadow {
  box-shadow: 0px 0px 20px 2px #151515; }

.fill-shadow {
  box-shadow: 0 0px 10px 2px #0c0c0c; }

.vh-100 {
  height: 100vh; }

.row {
  padding: 0;
  margin: 0; }

.bold {
  font-weight: 600 !important; }

.container {
  max-width: 1400px;
  min-height: 100vh; }

.btn {
  min-width: 80px;
  color: #e8e8e8;
  border-radius: 0;
  border: 0;
  font-size: 0.9em; }

.btn.focus,
.btn:focus {
  box-shadow: none; }

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.dataTables_info {
  padding: 5px; }

table.dataTable.no-footer {
  border: 0; }

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px; }

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 400; }

.dataTables_filter {
  padding: 5px 16px; }

.dataTables_empty {
  color: #03a9d2; }

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #e8e8e8; }

table.dataTable thead th,
table.dataTable thead td {
  border: 0; }

table.dataTable {
  margin: 0; }

::selection {
  background: #11b0d6;
  color: #fff; }

.nav-pills .nav-link {
  border-radius: 0; }

#overall-table_filter {
  float: left;
  margin-left: 10px; }

table.dataTable tbody tr {
  background-color: inherit; }

table.dataTable thead .sorting {
  background-image: url(""); }

.dataTables_wrapper .dataTables_filter input {
  transition: 0.4s;
  padding: 5px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #e8e8e8;
  color: #e8e8e8; }
  .dataTables_wrapper .dataTables_filter input:focus {
    border-color: #03a9d2;
    outline: 0; }

.table thead tr th {
  padding: 15px 0; }

.table th {
  border: 0; }

.table td {
  border: 0;
  vertical-align: middle; }

.table thead th {
  border: 0; }

.main-bg {
  background: #1d1d1d; }

.light-bg {
  background: #313131; }

.btn-turkiz {
  background: #066955; }

.silent-border {
  border: 1px solid rgba(115, 115, 115, 0.35) !important; }

.silent-shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.34), 0 1px 8px -3px rgba(0, 0, 0, 0.26), 0 2px 16px 0 rgba(0, 0, 0, 0.28) !important; }

.l-pop {
  cursor: pointer; }
