* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to top, #26232f, #3c2e49, #2f2939);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #e8e8e8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.08em; }

label {
  color: #e8e8e8; }

hr {
  background: #b1a0ff; }

a {
  color: #e8e8e8; }
  a:hover {
    color: #e8e8e8;
    text-decoration: none; }

input,
textarea {
  caret-color: #b1a0ff !important;
  color: #e8e8e8 !important; }
  input::selection,
  textarea::selection {
    background: #b1a0ff;
    color: #fff; }

img {
  width: 100%;
  height: 100%;
  user-select: none; }

::-webkit-input-placeholder {
  color: #cacaca !important; }

.shadow {
  box-shadow: 5px 5px 20px #080708; }

.row {
  padding: 0;
  margin: 0; }

.bold {
  font-weight: 500 !important; }

.container {
  max-width: 1400px; }

.btn {
  min-width: 80px;
  color: #e8e8e8;
  border-radius: 0;
  border: 0;
  font-size: 0.9em; }

.btn.focus,
.btn:focus {
  box-shadow: none; }

button:focus {
  outline: none; }

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.dataTables_info {
  padding: 5px; }

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px; }

table.dataTable thead th, table.dataTable tfoot th {
  font-weight: 400; }

.dataTables_filter {
  padding: 5px 16px; }

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #e8e8e8; }

table.dataTable thead th, table.dataTable thead td {
  border: 0; }

::selection {
  background: #b1a0ff;
  color: #fff; }

.nav-pills .nav-link {
  border-radius: 0; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 3px solid #b1a0ff; }

#overall-table_filter {
  float: left;
  margin-left: 10px; }

table.dataTable tbody tr {
  background-color: inherit; }

table.dataTable thead .sorting {
  background-image: url(""); }

.dataTables_wrapper .dataTables_filter input {
  transition: 0.4s;
  padding: 5px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #e8e8e8;
  color: #e8e8e8; }
  .dataTables_wrapper .dataTables_filter input:focus {
    border-color: #b1a0ff;
    outline: 0; }

.main-bg {
  background: #2a2133; }

.light-bg {
  background: #4f3c63; }

.btn-turkiz {
  background: #066955; }

.btn-purple {
  background: #7d5bbe; }

.silent-border {
  border: 1px solid rgba(115, 115, 115, 0.35) !important; }

.silent-shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.34), 0 1px 8px -3px rgba(0, 0, 0, 0.26), 0 2px 16px 0 rgba(0, 0, 0, 0.28) !important; }
