* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 64px; 
    color: #fff;
    background: #685d8f;
    /* background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 1%, rgba(84,84,84,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(1%, rgba(1,1,1,1)), color-stop(100%, rgba(84,84,84,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 1%, rgba(84,84,84,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 1%, rgba(84,84,84,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 1%, rgba(84,84,84,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 1%, rgba(84,84,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#545454', GradientType=0 ); */
}
ul {
    margin: 0;
}
a,
a:hover {
    color: #fff;
    text-decoration: none;
}

.table {
    max-width: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.table td, .table th {
    border: 0;
    padding: .50rem;
    
}
.btn {
    margin: 5px;
    border-radius: 0;
    box-shadow: 2px 2px 1px #000;
}
.row {
    margin: 0;
}

.container {
    max-width: 1400px;
}

/* NAVBAR */
#main-nav-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #000;
}
/* NARBAR LEFT */
#main-left-nav-bar ul {
    display: flex;
}

#main-nav-bar li {
    display: flex;
}

#main-nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 15px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.2em;
}

#main-nav-bar a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #5e3086;
}

/* NARBAR SEARCH */
#nav-search {
    display: flex;
}

#navbar-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-search-form input {
    color: #fff;
    padding: 0 10px;
    background-color: #555555;
    width: 250px;
    border: 0;
    margin: 0 10px 0 20px;
}

#navbar-search-form select {
    background-color: #555555;
    color: #fff;
    border: 0;
    outline: 0;
}

.fa-search {
    font-size: 22px;
    margin-right: 10px;
}

.fa-search:hover {
    cursor: pointer;
    color: #5e3086;
}
/* NAVBAR LOGIN */
#nav-bar-login {
    display: flex;
}

#main-form {
    margin: 0 auto;
}

.index-regions {
    display: inline-block;
}
.index-regions div {
    padding: 5px 10px;
}

.jumbotron {
    background-color: #463b6e;
}

.champion-name {
    letter-spacing: 0.1em;
    text-shadow: 0px 1px 10px #1734ff;
}

.champion-square img{
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75); 
}

.champion-square,
.champion-tile img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.champion-square:hover,
.champion-tile img:hover{
    transform: scale(1.1);
}

.champion-tile img {
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

.lb-summoner:hover {
    cursor: pointer;
}
.leaderboard-name { 
    padding: 30px;
}

.leaderboard-regions {
    background-color: #413e70;
    display: flex;
    flex-wrap: wrap;
}

.leaderboard-regions > a {
    text-align: center;
    padding: 10px;
    flex: 1 0 0;
}

.leaderboard-regions > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #6f60a3;
}
.ability-tile img {
    -webkit-box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.75);
}
.ability-wrapper {
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #9d84ff;
    background-color: #202020;
    color: #fff;
}

.blockquote {
    font-style: italic;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    background-color: #222;
    padding: 50px;
    margin: 50px 0px;
    box-shadow: 5px 5px 5px #000;
    text-shadow: 4px 4px 200px rgba(255, 10, 80, 1);
}

@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }
}

@media (max-width: 580px) {
    .text-xs-center {
        text-align: center;
    }

    .ability-desc,
    .ability-tooltip {
        padding: 0 !important;
    }
}

/* AD */
.colorFF8C00 {
    color: #ff8c00;
}
/* AP DAMAGE */
.color99FF99 {
    color: #99ff99;
}
/* HEALTH */
.colorCC3300 {
    color: #cc3300;
}
/* HEALTH */
.colorFF0000 {
    color: #ff0000;
}
.colorFFFFFF {
    color: #ffffff;
}
.color91d7ee {
    color: #91d7ee;
}
.colorF88017 {
    color: #f88017;
}
/* ARMOR */
.colorFFFF00 {
    color: #FFFF00
}
/* MAGIC RESIST */
.colorFF00FF {
    color: #FF00FF;
}
/* FURY */
.colorFF6633{
    color: #FF6633;
}
.general-color {
    color: #b1a0ff;
}
.colorFF9900 {
    color: #FF9900;
}
.coloree91d7 {
    color: #ee91d7;
}
.colorb3b3b3 {
    color: #b3b3b3;
}