* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: beige;
    /* color: #fff; */
    background: #685d8f;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0.03em;
}
label {
    color: beige;
}
hr {
    background: #42ff00;
}
ul {
    margin: 0;
}
a,
a:hover {
    color: #fff;
    text-decoration: none;
}
.table td, .table th {
    vertical-align: middle;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #b1a0ff;
}
table.table a {
    color: inherit;
}
.table {
    max-width: none;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
}
.table td,
.table th {
    border: 0;
    padding: 0.25rem;
}
table.table td,
table.table th {
    padding-bottom: 0;
}
.btn {
    margin: 5px;
    border-radius: 0;
    box-shadow: 2px 2px 1px #000;
}
.row {
    margin: 0;
}
.bold {
    font-weight: 600 !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}
.container {
    padding: 64px 0 0 0;
    min-height: 100vh;
    max-width: 1400px;
    background-color: rgba(0, 0, 0, 0.75);
}

/* NAVBAR */
#main-nav-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #000;
}
/* NARBAR LEFT */
#main-left-nav-bar ul {
    display: flex;
}

#main-nav-bar li {
    display: flex;
}

#main-nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 15px;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.2em;
}

#main-nav-bar a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #5e3086;
}

/* NARBAR SEARCH */
#nav-search {
    display: flex;
}

#navbar-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-search-form input {
    color: #fff;
    padding: 0 10px;
    background-color: #555555;
    width: 250px;
    border: 0;
    margin: 0 10px 0 20px;
}

#navbar-search-form select {
    background-color: #555555;
    color: #fff;
    border: 0;
    outline: 0;
}


/* NAVBAR LOGIN */
#nav-bar-login {
    display: flex;
}

#main-form {
    margin: 0 auto;
}

.index-regions {
    display: inline-block;
}
.index-regions div {
    padding: 5px 10px;
}
.champion-name {
    letter-spacing: 0.1em;
}
/* NAVBAR LOGIN */

/* SUMMONER */

/* SUMMONER */

/* LEAGUE */
#tier1 {

}
/* LEAGUE */

/* ACTIVE MATCH */
#match-wrapper img{
    height: 100%;
    width: 100%;
}
#match-wrapper td{
    padding: 5px;
}
.player-profile-icon,
.player-champ-icon,
.player-rune-icon,
.player-ss-icon {
    height: 36px;
    width: 36px;
}
#blue-team {
    border-right: 3px solid blue;
}
#red-team {
    border-left: 3px solid red;
}
/* ACTIVE MATCH */

/* CHAMPIONS */
.champion-square {
    color: #b1a0ff;
    font-weight: 500;
    width: 100px;
    height: 100px;
    font-size: 0.9em;
}
.champion-square p{
    color: #b1a0ff;
}
.champion-square img {
    max-width: 64px;
    max-height: 64px;
    /* box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75); */
}
.champion-square p:hover {
    
}
/* CHAMPIONS */

.champion-tile img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* #item-sets {
    background: #202020;
}
#skill-sets {
    background: #202020;
}
#runes-sets {
    background: #463b6e;
} */

.skill-order-table {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    grid-gap: 3px;
    user-select: none;
}

.board-box {
    background: #555555;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.board-box img {
    width: 100%;
    height: 100%;
}

.item-tile {
    padding: 5px 2px;
}

.item-tile img {
    width: 50px;
    height: 50px;
    border: 1px solid #5c6fff;
    border-radius: 5px;
}

.champion-tile img:hover,
.item-tile img:hover {
    transform: scale(1.1);
}

.champion-tile img,
.item-tile img {
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.lb-summoner:hover {
    cursor: pointer;
}
/* LEADERBOARDS */
table.dataTable tbody tr {
    background-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: beige !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: beige !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: beige;
}
.dataTables_wrapper .dataTables_filter input {
    background-color: transparent;
    border: none;
    color: beige;
    border-bottom: 1px solid beige;
}
.dataTables_wrapper .dataTables_filter input:focus {
    outline: none;
    border-bottom: 1px solid beige;
}
.leaderboard-name {
    padding: 30px;
}
#leaderboard-table_length,
#leaderboard-table_info {
    padding-top: 1em;
    margin-left: 3em;
}
#leaderboard-table_filter {
    padding-top: 1em;
    margin-right: 2em;
}

.leaderboard-regions {
    display: flex;
    flex-wrap: wrap;
}

.leaderboard-regions > a {
    text-align: center;
    padding: 10px;
    flex: 1 0 0;
}

.leaderboard-regions > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
}
/* LEADERBOARDS */

.ability-tile img {
    box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.75);
}
.ability-wrapper {
    box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #42ff00;
    /* background-color: #202020; */
    margin: 0 auto !important;
}

.blockquote {
    font-style: italic;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 50px;
}
.form-wrapper {
    width: 30%;
    margin: 0 auto;
}
.form-wrapper input {
    border-radius: 0;
}

@media (max-width: 978px) {
    .container {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .text-xs-center {
        text-align: center;
    }

    .ability-desc,
    .ability-tooltip {
        padding: 0 !important;
    }
    .form-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

/* TOOLTIP */
/* .tooltip-wrapper {
    width: 500px;
    padding: 10px;
    text-align: left;
} */
/* .tooltip-inner{
    max-width: 400px;
    padding: 15px;
    text-align: left;
    border-radius:.25rem;
} */
/* LOGIN */
.md-form .prefix~label {
    color: beige !important;
}
.md-form .prefix.active {
    color: beige !important;
}
.md-form .prefix~input{
    border-color: beige;
}
.md-form label{
    color: beige !important;
}
/* LOGIN */

/* OVERALL */
#overall-wrapper {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
#overall-wrapper img {
    /* transform: scale(0.5) */
}

#overall-wrapper th,
#overall-wrapper td {
    font-weight: 500;
    font-size: 14px;
    padding-top: 0.6rem;
}
#overall-league {
    background: #101010;
    border: 0;
    color: #b1a0ff;
    border: 1px solid #b1a0ff;
}

.overall-champ-tile {
    transform: scale(0.7);
    width: 36px;
    height: 36px;
    background-size: cover;
    float: left;
}
.t-champ-name {
    display: inline-block;
    padding-left: 0.3rem;
    padding-top: 0.6rem;
}
/* OVERALL */

/* ITEMS */
.league-item {
    width: 48px;
    height: 48px;
    padding: 1px;
}
.form-control,
.form-control:focus {
    color: #fff;
}
/* ITEMS */

/* FOOTER */
footer p {
    font-size: 0.8em;
    margin: 0;
}
/* FOOTER */

/* POPOVER */
.popover {
    font-size: 16px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    max-width: 400px;
    border-radius: 0.25rem;
    padding: 10px 10px;
    border-radius: 10px;
}

.popover-header {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #b1a0ff;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1a0ff;
}
.popover-body > span {
    text-align: center;
    display: block;
    padding-bottom: 15px;
}

.popover-body {
    padding: 15px 0px;
    color: #fff;
}

.cost {
    border-top: 1px solid #b1a0ff;
    padding: 15px 10px 0px;
}
.cost span {
    padding-right: 50px;
}
itemname {
    text-align: center !important;
    color: #b1a0ff;
}

unique,
active,
active > a,
passive,
passive > a {
    color: #fddb22;
}
stats {
    color: #96fa96;
}
/* POPOVER */

/* RIOT CLASSES */
.greenC {
    color: #42ff00;
}
/* AD */
.colorFF8C00 {
    color: #ff8c00;
}
/* AP DAMAGE */
.color99FF99 {
    color: #99ff99;
}
/* HEALTH */
.colorCC3300 {
    color: #cc3300;
}
/* HEALTH */
.colorFF0000 {
    color: #ff0000;
}
.colorFFFFFF {
    color: #ffffff;
}
.color91d7ee {
    color: #91d7ee;
}
.colorF88017 {
    color: #f88017;
}
/* ARMOR */
.colorFFFF00,
yellow {
    color: #ffff00;
}
/* MAGIC RESIST */
.colorFF00FF {
    color: #ff00ff;
}
/* FURY */
.colorFF6633 {
    color: #ff6633;
}
.general-color {
    color: #b1a0ff;
}
.colorFF9900 {
    color: #ff9900;
}
.coloree91d7 {
    color: #ee91d7;
}
.colorb3b3b3 {
    color: #b3b3b3;
}
.color88FF88 {
    color: #a2ffa2;
}
/* RIOT CLASSES */

/* FONT AWESOME */
.fa-arrow-down {
    color: #ff0000;
    margin: 0 0.2rem;
}
.fa-arrow-up {
    color: #42ff00;
    margin: 0 0.2rem;
}
.fa-search {
    font-size: 22px;
    margin-right: 10px;
}
.fa-search:hover {
    cursor: pointer;
    color: #5e3086;
}
/* FONT AWESOME */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}
